/* @import url('https://fonts.googleapis.com/css?family=Rakkas'); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
/* @import url('https://fonts.googleapis.com/css?family=Dosis:700'); */
/*@import url('https://fonts.googleapis.com/css?family=Signika:600');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500'); */
/* @import url('https://fonts.googleapis.com/css?family=Rubik:500'); */
/* @import url('https://fonts.googleapis.com/css?family=Monoton'); */
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2');
/* @import url('https://fonts.googleapis.com/css?family=Bellota'); */

body {
    font-family: 'Baloo+Thambi+2', sans-serif !important;
    margin: 0;
}

#background_rect {
    fill: rgb(200,200,200);
}

.tooltip {
    transition: 0.2s opacity ease-out, transform 0.2s ease-out;
    opacity: 0.9;
}
.popup {
    transition: 1s opacity ease-out, transform 0.2s ease-out;
    opacity: 1.0;
}

.hidden {
    /* transition: opacity 0.2s ease-in, transform 0.5s ease-in; */
    transition-timing-function: ease-in;
    pointer-events: none;
    opacity: 0.0 ;
}

.box-active .box {
    opacity: 0.5;
}
.box-active .box.active {
    opacity: 1.0;
}

.box {
    stroke:rgb(40,40,40);
    stroke-width:1;
}

.box.current {
    fill:rgb(20,200,20);
}

.box.past {
    fill:rgb(40,40,40);
    cursor: pointer;
}

.box.past.unclicked {
    fill:rgba(40,40,40,0.6);
}

.box.future {
    fill:rgb(200,200,200);
}

.box.future.stretch_year {
    stroke:rgba(40,40,40,0.3);
}

.no-active-boxes .box:hover, .box.active {
    stroke: rgb(0,255,255);
    stroke-width: 3;
}

.onclick-popup {
    fill:rgb(40,40,40);
}

.popup text{
    dominant-baseline: central;
    text-anchor: middle;
    fill: rgb(255,255,255);
}

.popup .title {
    font-size: 24px
}
